.login-content {
  width: 100%;
  padding: 15%;
  margin: auto;
  background-color: #614ea6;
  height: 100vh;
}

.btn-login {
  background-color: #fff;
  color: #614ea6;
}

.btn-login:hover {
  background-color: #3d0c8b;
  color: #fff;
}

.opcoes-login {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.opcoes-login a {
  text-decoration: none;
  color: #fff;
}

.opcoes-login a:hover {
  opacity: 0.5;
  cursor: pointer;
}
